@font-face {
    font-family: "Casta-Thin";
    src: url(Casta-Thin.otf) format("opentype");
}
* {
    font-family: "Casta-Thin", sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
}
.left-column, .right-column {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#summary {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
#summary p {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    flex: 1;
    text-align: center;
    font-size: 18px;
}
#expense-list {
    list-style: none;
    display: grid;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}
#expense-list li {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
button {
    color: #090909;
    padding: 0.7em 1.7em;
    border-radius: 0.5em;
    background: #ffffff;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
}

button:active {
    color: white;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
canvas {
    display: block;
    max-width: 600px;
    margin: 0 auto;
}
#expense-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input, select {
    padding: 10px 4px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    width: 100%;
}
input:focus, select:focus {
    border-color: #44793f;
}
h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #44793f;
}
